header {
	text-align: center;
	margin-top: 2rem;
	font-size: 1.5rem;
	text-shadow: 
    -1px -1px 0 hsl(0, 94%, 49%),  
     1px -1px 0 hsl(0, 94%, 49%),
    -1px  1px 0 hsl(0, 94%, 49%),
     1px  1px 0 hsl(0, 94%, 49%);
}