.new-game-btn {
	background-color: hsl(0, 0%, 95%);
	color:  hsl(0, 94%, 49%);
	margin: 0 auto;
	padding: 0.5em 1em;
	border-radius: 10px;
	font-size: 1.4rem;
	font-weight: bold;
	border: 3px solid hsla(0, 94%, 49%, 0.95);
	cursor: pointer;
	transition: 0.25s;
}
.new-game-btn:hover {
	background-color: hsl(0, 94%, 49%);
	color: hsl(0, 0%, 95%);
	border: 3px solid hsla(0, 94%, 49%, 0.95);
}